.silver {
	background-color: #c0c0c0;
	color: black;
}

.logo {
    height: 50px;
    width: auto;
}

.textbloc {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* change the background color */
.navbar-silver {
    background-color: #c0c0c0;
}

.no-outline{
	border-color: #c0c0c0 !important;
}

.footer-menu .nav-item {
	width: 100%;
}


/* change the brand and text color */
.navbar-silver .navbar-brand,
.navbar-silver .navbar-text {
    color: #333;
    padding: 0.8rem 1rem; 
}
/* change the link color and add padding for height */
.navbar-silver .navbar-nav .nav-link {
    color: #333;
    padding: 1rem 1rem; 
}
/* change the color active or hovered links */
.navbar-silver .nav-item.active .nav-link, 
.navbar-silver .nav-item:hover .nav-link {
    color: #bbb !important;
    background-color:  #262626 !important; /* add background-color to active links */
}

.main-menu {
	padding-bottom: 60px;
}


.nav-item {
	width: calc(100% / 3);
}

.navbar-nav {
	width: 100%;
}

.nav-container {
        display: block; 
        position: fixed;
        width: 100%;
        height: 100%; 
        z-index: 1031;
        left: 0;
        top: 0;
        background-color: #c0c0c0;
        opacity: 0.95;
        overflow-x: hidden;
     
    }
	
.wrapper{
	min-height: 100%;
    width: 100%;
	position: absolute;
    padding-top: 80px;
	padding-bottom: 280px;
}


.sticky-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-height: 280px;
	
}

