.headline {
	width: 100%;
}

.intro {
	width: 100%; 
	font-style: italic;
}

.content {
	width: 60%;
	background-color: #E9E8E6;
}
.fullContent {
	width: 100%;
}
.artimage {
    display: block;
    width: 60%;
    margin: auto;
}