.black {
	background-color: black;
	color: white;
}

.content{
	height: auto;
} 

.copyright {
	font-size: 0.9rem !important;
}

.sticky-bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
	max-height: 200px;
	
}

.wrapper{
	min-height: 100%;
    width: 100%;
   position: absolute;
    padding-bottom: 200px;
}

/* change the background color */
@media screen and (min-width: 576px) {
.navbar-blue {
	background-color: #1a1a1a;
	
}
}
@media screen and (max-width: 576px) {
.navbar-blue {
	background-color: #000;
	
}
}
/* change the brand and text color */
.navbar-blue .navbar-brand,
.navbar-blue .navbar-text {
    color: #23AEDE;
    padding: 0.8rem 1rem; 
}
/* change the link color and add padding for height */
.navbar-blue .navbar-nav .nav-link {
    color: #23AEDE;
    padding: 1.05rem 1rem;   /*formely 1rem 1rem */
}
/* change the color of active or hovered links */
.navbar-blue .nav-item.active .nav-link,
.navbar-blue .nav-item:hover .nav-link {
    color: #bfbfbf;
    background-color:  #262626; /* add background-color to active links */
}
@media screen and (min-width: 576px) {

.nav-item {
	width: 20%;
}

.navbar-nav {
	width: 100%;
}
}


.banner_image{
	height: 70px; /*formely 56 px */
}