/*ALL*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: aliceblue;
}

#wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 80px;
}

#container {
    background-color: #FFFFFF;
    height: auto;
    width: 100%;
    color: #FFFFFF;
}


.clear {
    clear: both;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

.new_line {
    display: block;
}

.main_lines {
    width: 75%;
    border: 0;
    background-image: linear-gradient(to right, #CCCCCC, #666666, #CCCCCC);
    height: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
}


/*BANNER*/

#banner {
    margin: auto;
    width: 100%;
    height: auto;
    background-color: #000000;
}

.banner {
    background-color: transparent;
    padding: 6px 6px 6px 15px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

@media screen and (max-width: 800px) {
    .banner {
        max-width: 50%;
        height: auto;
        width: auto;
    }
}
/*END of BANNER*/


/*FOOTER*/

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 70px;
    padding: 15px;
    border-top: 4px solid #1a1a1a; 
    font-size: 12px;
}

.author,
.footer_copyright_box {
    color: white;
    display: inline-block;
    vertical-align: middle;
}

.social {
    float: right;
}

@media screen and (max-width: 800px) {
    .author,
    .social,
    #footer {
        max-width: 100%;
        font-size: 9px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .social a {
        margin-left: 4px;
    }
    
    .footer_copyright_text {
        display: block;
    }
}
/*END of FOOTER*/



@media (max-width: 450px) {
    
}

@media (min-width: 451px) and (max-width: 570px) {

}

@media (min-width: 571px) and (max-width: 768px) {
    
}

@media (min-width: 769px) and (max-width: 1024px) {
    
}

@media (min-width: 1025px) and (max-width: 1200px) {
    
}

@media (min-width: 1201px) {
    
}